# 1.Functions and Numpy

In [33]:
import numpy as np

**Problem 1**

Create a numpy array of dimensions (5,5) with random numbers in range \[0, 1) and print its shape, number of dimensions and data type of its elements.

**Problem 2**

Change the data type of elements of the numpy array created in Problem 1 to int and keep only even numbers in the array (the shape of output does not matter).

**Problem 3**

Create a numpy array of zeros, a numpy arrays of ones, and an identity matrix of shape (7,7) (all 3). Sum the arrays and print the result.

**Problem 4**
<br> 5 students' test scores are stored in the 2-d array "student_scores". Each row stores the corresponding test's scores. <br>
Calculate the mean of grades of each student (columns) and the median of grades per test (rows)?

In [34]:
student_scores = np.array([[92, 94, 88, 91, 87],
                           [79, 100, 86, 93, 91],
                           [87, 85, 72, 90, 92]])

**Problem 5**

Create a generator function that yields vowels of an input text. Make sure to take into account uppercase vowels too. Call the generator for input text "Abracadabra" and put it in a list.

**Problem 6**

Scrabble is a game where players get points by spelling words. Words are scored by adding together the point values of each individual letter. Write a program that takes a string word as input and returns the equivalent scrabble score for that word.

In [35]:
score = {"a": 1, "c": 3, "b": 3, "e": 1, "d": 2, "g": 2,
         "f": 4, "i": 1, "h": 4, "k": 5, "j": 8, "m": 3,
         "l": 1, "o": 1, "n": 1, "q": 10, "p": 3, "s": 1,
         "r": 1, "u": 1, "t": 1, "w": 4, "v": 4, "y": 4,
         "x": 8, "z": 10}

word = 'abracadabra'

# 2. Pandas

In [36]:
import pandas as pd
import numpy as np

**Problem 1**

Create a DataFarme with titanic.csv file in your current directory.

**Problem 2**

Output all column datatypes of above DataFrame as a list.

**Problem 3**

Change the datatype of columns with 'int64' dtype to 'float64'.

**Problem 4**

Use describe function to output information about **all** columns in the DataDrame.

**Problem 5**

Set name column as the index and then reset the index with dropping. Perform those operations inplace.

**Reset changes**

At this point, read the DataFrame again to undo all perviously made changes.

In [37]:
df_titanic = pd.read_csv("titanic.csv")

**Problem 6**

Replace all '?' values in the DataFrame with np.nan values and write the resulting DataFrame to 'titanic_na.csv' file, making sure that the index of the DataFrame was not written in the file.

**Problem 7**

Read "titanic_na.csv" as a DataFrame and output the number of NA values in each column of it.

**Problem 8** 

Select all columns with even indices using iloc.

**Problem 9**

Change the respective column names using the following dictionary {"pclass":"passanger_class", "sibsp":"sibling_spouse"}

**Problem 10**

Get the list of indices of the row(s) with largest fare value.

**Problem 11**

Select only the rows where the values of "ticket" columns are in the following list [24160,113781,2670]

**Problem 12**

Output the number of unique values, the list of unique values and value counts of age column. NA values must be counted too.

**Problem 13**

Select all rows where column "cabin" contains characters 'C' or '6'.

**Problem 14**

Drop duplicate rows from the the DataFrame.

**Problem 15**

Select only rows where "name" column contains "Mrs." and "gender" column is male.

**Problem 16**

Drop the home.dest column.

**Reset Changes**

Read "titanic_na.csv" file to reset changes.

In [ ]:
df_titanic = pd.read_csv("titanic_na.csv")

**Problem 17**

Replace Nan values in "age" column with the mean of that column.

**Problem 18**

Output the mean age per home desintation.

**Problem 19**

Apply a lambda function on "cabin" column that will replace the values in the column with their first character, and nan values with the letter Z.

**Problem 20**

Replace the titles according to the below dictionary:

{'Miss.': 0,
 'Master.': 1,
 'Mr.': 2,
 'Mrs.': 3,
 'Col.': 4,
 'Mme.': 5,
 'Dr.': 6,
 'Major.': 7,
 'Capt.': 8,
 'Lady.': 9,
 'Sir.': 10,
 'Mlle.': 11,
 'Dona.': 12,
 'Jonkheer.': 13,
 'Countess.': 14,
 'Don.': 15,
 'Rev.': 16,
 'Ms.': 17}

**Problem 21**

Output the number of obeservations in each group based on the groupby operation of columns "pclass", "survived", and "sex" columns.

**Problem 22**

Output the maximum age of women for each title (column "name").

**Problem 23**

Merge below datasets based on "name" column, keeping all data.

**Problem 24**

Concatenate below datasets vertically.

**Problem 25**

Use pivot table to calculate the mean age of male and female passengers who survived or died during the Titanic crash.

# 3.Data Visualization

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

**Problem 1** 

Read "passwords.csv" file into a DataFrame. You have a strange feeling that the larger the font_size paramter gets the higher is the strength of the password. Use pandas scatter plot to verify that idea.

In [ ]:
passwords = pd.read_csv('passwords.csv')
passwords.head(2)

**Problem 2**

You think that passwords containing integers have higher strength than passwords without integers. Verify your thought using seaborn's boxplot.

# THE END