## Student: Lilit Beglaryan

## About data:
 retrieved from : https://www.kaggle.com/competitions/titanic/overview

The data is of some passengers of the well-known Titanic ship. While there was some randomness into who survived and who died in this tragic shipwrech, however it seems that some group of passengers were more likely than others to survive. 

The data contains information about passengers
The main goal is to analyze the relationship between the characteristics of passengers and their survival in teh Titanic's shipwrecking. The goal is to predict on unseen data during the test stage. The description of the variables is given bellow:

 Survival -- 0=No  ,  1=Yes    (Target to be predicted)

* PassengerId -- an assigned identifier to each passenger
* Pclass -- (ticket class) 
1=Upper, 2=Middle, 3=Lower
* Name -- name,last name
* Sex -- male/female
* Age -- age in years
* Sibsp -- # of parents / children aboard the Titanic
* Parch -- 	# of parents / children aboard the Titanic

* Ticket -- Ticket number
* Fare	-- Passenger fare
* Cabin	-- Cabin number	

* Embarked -- Port of Embarkation	C = Cherbourg, Q = Queenstown, S = Southampton

In [27]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [30]:
train = pd.read_csv("titanic/train.csv")
test = pd.read_csv("titanic/test.csv")

y = train["Survived"]
X = train.drop(train.columns[1],axis = 1)

# X_train, X_test, y_train, y_test = train_test_split(X,y ,random_state=104, test_size=0.25, shuffle=True)

print(X_train.shape)
print(X_test.shape)

(668, 11)
(223, 11)

In [32]:
train.shape

(891, 12)

In [39]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  714 non-null    int64
 1   Survived     714 non-null    int64
 2   Pclass       714 non-null    int64
 3   Name         714 non-null    object
 4   Sex          714 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        714 non-null    int64
 7   Parch        714 non-null    int64
 8   Ticket       714 non-null    object
 9   Fare         714 non-null    float64
 10  Embarked     712 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 66.9+ KB

In [35]:
train.dropna(subset = ["Age"], inplace = True)

In [43]:
print(train.Cabin.isna().sum()) #too many NaN values, so drop
train.drop(columns="Cabin",inplace=True)

AttributeError: 'DataFrame' object has no attribute 'Cabin'

In [45]:
train.describe(include="all") # the majority of passengers(453)is male,
# most people(554 passengers) embarked from S=Southampton
#

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
count,714.000000,714.000000,714.000000,714,714,714.000000,714.000000,714.000000,714,714.000000,712
unique,NaN,NaN,NaN,714,2,NaN,NaN,NaN,542,NaN,3
top,NaN,NaN,NaN,"Braund, Mr. Owen Harris",male,NaN,NaN,NaN,347082,NaN,S
freq,NaN,NaN,NaN,1,453,NaN,NaN,NaN,7,NaN,554
mean,448.582633,0.406162,2.236695,NaN,NaN,29.699118,0.512605,0.431373,NaN,34.694514,NaN
std,259.119524,0.491460,0.838250,NaN,NaN,14.526497,0.929783,0.853289,NaN,52.918930,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN
25%,222.250000,0.000000,1.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,8.050000,NaN
50%,445.000000,0.000000,2.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,15.741700,NaN
75%,677.750000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,1.000000,NaN,33.375000,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,5.000000,6.000000,NaN,512.329200,NaN

In [42]:
train.drop
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  714 non-null    int64
 1   Survived     714 non-null    int64
 2   Pclass       714 non-null    int64
 3   Name         714 non-null    object
 4   Sex          714 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        714 non-null    int64
 7   Parch        714 non-null    int64
 8   Ticket       714 non-null    object
 9   Fare         714 non-null    float64
 10  Embarked     712 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 66.9+ KB

In [11]:
x_test["Fare"].fillna(x_test["Fare"].mean(), inplace = True)
x_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 332 entries, 0 to 415
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  332 non-null    int64
 1   Pclass       332 non-null    int64
 2   Name         332 non-null    object
 3   Sex          332 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        332 non-null    int64
 6   Parch        332 non-null    int64
 7   Ticket       332 non-null    object
 8   Fare         332 non-null    float64
 9   Embarked     332 non-null    object
dtypes: float64(2), int64(4), object(4)
memory usage: 28.5+ KB

In [12]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 332 entries, 0 to 415
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  332 non-null    int64
 1   Pclass       332 non-null    int64
 2   Name         332 non-null    object
 3   Sex          332 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        332 non-null    int64
 6   Parch        332 non-null    int64
 7   Ticket       332 non-null    object
 8   Fare         332 non-null    float64
 9   Embarked     332 non-null    object
dtypes: float64(2), int64(4), object(4)
memory usage: 28.5+ KB

In [13]:
print(np.unique(x_test['Sex'])) #only 2 categories present, OK
print(np.unique(x_test['Pclass'])) #only the predefined 1,2,3 are present , OK

sum(x_test["Ticket"].isna()) #no nas but 285/332 unique tickets????? repetitions?
# duplicate = x_test[x_test.duplicated("Ticket")]
# duplicate

['female' 'male']
[1 2 3]

0

In [14]:
x_test.reset_index(inplace=True,drop=True)
# x_test.columns

In [16]:
y_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
dtypes: int64(2)
memory usage: 6.7 KB

In [17]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  332 non-null    int64
 1   Pclass       332 non-null    int64
 2   Name         332 non-null    object
 3   Sex          332 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        332 non-null    int64
 6   Parch        332 non-null    int64
 7   Ticket       332 non-null    object
 8   Fare         332 non-null    float64
 9   Embarked     332 non-null    object
dtypes: float64(2), int64(4), object(4)
memory usage: 26.1+ KB

In [1]:
new_data = x_test.merge(y_test, how = 'inner', on = "PassengerId")

NameError: name 'x_test' is not defined

In [21]:
new_data

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Survived
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,Q,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,S,1
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,Q,0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,S,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,S,1
...,...,...,...,...,...,...,...,...,...,...,...
327,1301,3,"Peacock, Miss. Treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,S,1
328,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,Q,1
329,1304,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,S,1
330,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C,1
331,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,S,0

In [ ]:
# # y_test.loc[y_test["PassengerId"] == x_test["PassengerId"]]
# y_test = y_test[y_test["PassengerId"].eq(x_test["PassengerId"])]

# y_test.reset_index(inplace=True,drop=True)
# y_test.shape   
# # ?why (10,2)

In [85]:
# y_test = y_test.join(x_test,on="PassengerId",how="left")
# a = pd.merge( y_test,x_test, how ='inner', on =['PassengerId'])  Error
# a

KeyError: 'PassengerId'